{{#if error}}

   <div class="notice error"><i class="icon-remove-sign icon-large"></i> {{error}}
				<a href="#close" class="icon-remove"></a></div>


{{/if}}







{{#if error_message}}

   
    <div class="notice error"><i class="icon-remove-sign icon-large"></i> {{error_message}}
				<a href="#close" class="icon-remove"></a></div>



{{/if}}




{{#if success_message}}

    <div class="notice success"><i class="icon-remove-sign icon-large"></i> {{success_message}}
				<a href="#close" class="icon-remove"></a></div>



{{/if}}

