<!DOCTYPE html>
<html><head>
<title>E learn</title>
<link rel="stylesheet" type="text/css" href="/css/kickstart.css" media="all" />                  <!-- KICKSTART -->
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />                          <!-- CUSTOM STYLES -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/kickstart.js"></script>                                  <!-- KICKSTART -->
</head>

<body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Home</a></li>
<li><a href="/classes">Classes</a></li>

</ul>

<div class="grid">
	
<!-- ===================================== END HEADER ===================================== -->
	 
<div class="col_12">
	<div class="col_9">
	{{>form-msgs}}
	{{{body}}}

	</div>
	
	<div class="col_3">
		{{>login}}	
	</div>
	
	<hr />
	
	
	{{>classes}}	
	

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>
<div id="footer">
&copy; Copyright 2018 All Rights Reserved. This website was built with <a>Elearn </a>
</div>

</body></html>